@media only screen and (min-width:200px) and (max-width:500px){
    
    .slider
    {

        width:80% !important;
    }
    .portfoli-photo
    {
    height: 150px;
    width: 150px;
    border: 2px solid red;
    border-radius: 100% !important;
    }
    .active {
        left: 10%; /* Slide to the desired position */
    }
    .about-heading
    {
    font-size: 40px;
    font-weight: bold;
    color: rgb(72, 72, 72);
    }
    .information-container-list
    {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    }
    #information-container-link1
    {
        margin-top: 10px;
    }
    #information-container-link2
    {
        margin-top: 10px;
    }
    #information-container-link3
    {
        margin-top: 10px;
    }
    .tech-skills
    {
        margin-bottom: 10px;
    }
    }
    .resume-heading
    {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .contact-heading1
    {
    font-size: 90px;
    /* font-weight: 900; */
    font-family: "Zilla Slab", serif;
    color: rgb(53, 19, 19);
    }
    .contact-heading2
    {
    font-size: 50px;
    /* font-weight: 900; */
    font-family: "Zilla Slab", serif;
    color: rgb(53, 19, 19);
    }
    .form-container
    {
        margin-top: 70px;
    }
    .Contact{
        padding-top: 10px;
        padding-bottom: 90px;
    }
}
@media only screen and (min-width:501px) and (max-width : 1000px) {
    .slider
    {
      width:50% ;
    } 
    .portfoli-photo
    {
    height: 300px;
    width: 300px;
/*     border: 2px solid red; */
    border-radius: 100% !important;
    }
    .information-container-list
    {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    }
    .information-link
    {
        margin-top: 9000px !important;
    }
    .section1-About 
    {
    margin-top: 10px;
    }
    .tech-skills
    {
        margin-bottom: 10px;
    }
        .resume-heading
    {
        justify-content: center;
    }
    .contact-heading1
    {
    font-size: 80px;
    /* font-weight: 900; */
    font-family: "Zilla Slab", serif;
    color: rgb(53, 19, 19);
    }
    .contact-heading2
    {
    font-size: 50px;
    /* font-weight: 900; */
    font-family: "Zilla Slab", serif;
    color: rgb(53, 19, 19);
    }
    .form-container
    {
        margin-top: 60px;
    }
    .Contact{
        padding-top: 20px;
        padding-bottom: 90px;
    }
}


